button{
    background-color: plum;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    border: none;
    margin: 2px;
} div{
    text-align: center;
}